body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.workArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    width: 200px;
    min-width: 200px;
    /* background-color: aqua; */
    margin: 0 10px 0 10px;
}

.convertBtn {
    width: 100%;
    height: 50px;
}

.textAreaWrap {
    width: 500px;
    height: 500px;
    /* background-color: red; */
}

.textArea {
    width: 100%;
    height: 100%;
    padding: 0;
}